body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title-large {
  font-size: 48px;
  margin-bottom: 18px;
}

.text-large {
  font-size: 25px;
  font-weight: bold;
  line-height: 24px;    
}

.title-medium {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.text-medium {
  font-size: 15px;
  line-height: 24px;    
}

.text-small {
  font-size: 15px;
  margin-bottom: 6px;
}

.select {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
